{% extends '../base/_base.html' %} {% block content %}
<div class="flex-column py-2 gap-2">
  <div class="d-flex justify-content-between align-items-center my-4">
    <div class="d-flex align-items-end gap-2">
      <i class="far fa-user h3 m-0"></i>
      <h3 class="m-0">{{ service.user.name }} {{ service.user.surname }}</h3>
    </div>
    <div>
      {% if service.status == "Tamir Edildi" %}
        <div class="d-flex flex-column align-items-end justify-content-center py-2 px-3 bg-success text-white rounded-3">
          <h5 class="h5">Tamir Saati</h5>
          <span class="fs-4">{{ service.updated_at|date:"d F Y G:i:s"}}</span>
        </div>
      {% else %}
        <a href="{% url 'service_update' service.number %}" class="btn btn-success">Güncelle</a>
      {% endif %}
    </div>
  </div>

  <div class="d-flex align-items-end gap-2 my-4">
    <i class="fas fa-wrench h3 m-0"></i>
    <h5 class="m-0">{{ service.price }}</h5>
  </div>
  <div class="d-flex align-items-end gap-2 my-4">
    <i class="fas fa-info h3 m-0"></i>
    <h5 class="m-0">{{ service.information }}</h5>
  </div>
</div>
{% endblock %}
