{% extends '../base/_base.html' %} {% block content %}
<div class="row justify-content-end mb-3">
  <div class="col col-md-4 col-xl-2">
    <a class="btn btn-outline-primary w-100 d-flex justify-content-center align-items-center gap-2"
        href="{% url 'user_create' %}"
    >
   <i class="fas fa-plus"></i>
   Müşteri Ekle</a>
  </div>
</div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Adı Soyadı</th>
          <th scope="col">Telefon</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
        <tr>
          <th>{{ user.id }}</th>
          <th><a class="nav-link text-dark p-0" href="{% url 'user_detail' pk=user.pk %}"> {{ user.name }} {{ user.surname }}</a></th>
          <th>{{ user.telephone_number }}</th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% endblock %}
  </button>
</button>
