{% extends '../base/_base.html' %}
{% block pretitle %} Fiyat Listesi {% endblock %}
{% block title %} Dashboard {% endblock %}

{% block create_button %}
<a href="{% url 'price_create' %}" class="btn btn-primary d-none d-sm-inline-block">
  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
    stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <line x1="12" y1="5" x2="12" y2="19"></line>
    <line x1="5" y1="12" x2="19" y2="12"></line>
  </svg>
  Fiyat Ekle
</a>
<a href="#" class="btn btn-primary d-sm-none btn-icon">
  <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
    stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
    <line x1="12" y1="5" x2="12" y2="19"></line>
    <line x1="5" y1="12" x2="19" y2="12"></line>
  </svg>
</a>
{% endblock %}

{% block content %}
<div class="card">
  <div class="table-responsive mb-0">
    <table class="table card-table table-vcenter text-nowrap datatable table-hover">
      <thead>
        <tr>
          <th>İşlem</th>
          <th>Fiyatı</th>
          <th>Kalan</th>
        </tr>
      </thead>
      <tbody>
        {% for price in price_list %}
        <tr>
          <th>
            <a class="nav-link text-dark p-0" href="{% url 'price_detail' pk=price.pk %}">
              {{ price.name }}</a>
          </th>
          <th>{{ price.price }} TL</th>
          <th>{{ price.amount }} Adet</th>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</table>
{% endblock %}