{% extends '../base/_base.html' %} {% block content %}
<div class="row">
  <div class="col-4">
    <form method="POST">
      {% csrf_token %}
      <div class="mb-3">
        <label for="name" class="form-label">Adı</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          value="{{ form.name.value }}"
        />
      </div>
      <div class="mb-3">
        <label for="price" class="form-label">Price</label>
        <input
          type="text"
          class="form-control"
          id="price"
          name="price"
          value="{{ form.price.value }}"
        />
      </div>
      <button class="btn btn-primary">Kaydet</button>
    </form>
  </div>
</div>
{% endblock %}
